body{
    font-family : Arial;
    background-color : #f6f6fa;
}
h1 {
    font-size : 45px;
    color : #09090f;
}
.form-container{
    display : flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: fit-content;
    margin : auto;
    margin-top : 200px;
}

.auth-form{
    font-size : 30px;
    margin-top: 20px;
}
input{
    width: 300px;
    height : 40px;
    border: solid;
    border-width: 2px;
    border-radius : 10px;
    margin-bottom: 25px;
    font-size : 25px;
}
.submit_button{
    width : 307px;
    background-color : #9795d0;
}
/*--text: #09090f;*/
/*--background: #f6f6fa;*/
/*--primary: #625fb1;*/
/*--secondary: #9795d0;*/
/*--accent: #7673c7;*/